body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./images/order_bg.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.order-container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #555
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-container h1 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 20px;
    color: #333;
}

.order-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #a58c5e;
}

.order-container th,
.order-container td {
    text-align: left;
    padding: 10px;
    vertical-align: top;
}

.order-container th {
    width: 30%;
    font-weight: normal;
    color: #555;
}

.order-container td {
    width: 70%;
}

.order-container input[type="text"],
.order-container input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.order-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #543b2a;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

.order-btn:hover {
    background-color: #5cb85c;
}

.order-btn span {
    display: block;
}